:root {
    --font: "SF Pro Text", "SF UI Text", system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    --background: -webkit-linear-gradient(left, #f6f6f6 0%, #fdfdfd 100%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--background);
    font-size: 20px;
    color: black;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-family: 'Arial';
    font-size: 2rem;
}


header {
    position: sticky;
    z-index: 999;
    background-color: #383e4c;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: var(--font);
    list-style: none;
}

header nav ul li a {
    display: block;
    padding: 1em;
    background: transparent;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -2px 2px 10px #00263a;
    text-transform: uppercase;
    color: white;
}

header nav ul li a.active {
    background-color: #49505f;
    padding: 1rem;
}

header nav ul li a:hover {
    background-color: #0071ff;
    text-decoration: none;
    text-shadow: -2px 2px 10px #00263a00;
    color: white;
    transition: all .1s;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}


body:not(#home) #hero {
    height: 50vh;
}

body:not(#home) #hero h1 {
    font-size: 3rem;
}

#hero {
    background-image: url(../imgs/img11.jpg);
}

#hero article {
    color: whitesmoke;
}

#hero h1 {
    margin-top: 7%;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    color: whitesmoke;
}

.button {
    padding: 0.5em 1em;
    background-color: #1686c1;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    transition: color ease 200ms, background ease 200ms;
    border-radius: 5px;
}

.green {
    background-color: #178a27;
}

.red {
    background-color: #852406;
}

.green-text {
    color: #178a27;
}

.blue-text {
    color: #1686c1;
}

article p {
    font-weight: lighter;
}

.halves p {
    font-size: 32px;
}

.split article {
    width: 50%;
    padding: 0vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    margin-top: 2em;
    padding: 1rem 0;
    text-align: center;
}

footer hr {
    width: 62%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 2em;
}

.row.full {
    width: 100vw;
}

.thirds article {
    width: 30%;
}

.halves article {
    width: 48%;
}

.quarters article {
    width: 23%;
}

.cards article,
.card {
    background-color: #f2f2f2;
    color: #666666;
}

.cards article img,
.card img {
    border: none;
}

.cards article h2,
.cards article h3,
.cards article p,
.card h2,
.card h3,
.card p {
    padding: 0 1rem;
}

.cards article a,
.card a {
    float: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 1em;
}